.App {
	padding-top: 3vw;
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #3111a3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-wrapper input{
	font-size: 1.2vw;
}

.login-wrapper label{
	color: #575757;
	font-size: 1.5vw;
	font-weight: bold;
}

.login-wrapper button{
	font-size: 1.1vw;
}

.login-header{
	margin-top: 3vw;
	margin-bottom: 5vw;
	color: #088f30;
}

.login-header img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.login-header h1{
	font-size: 3vw;
	text-align: center;
}

.login-header hr{
	display: block; height: 1vw;
  border: 0;
	border-top: 0.2vw solid #9b9b9b;
  margin: 1vw 0; padding: 0;
}

.spinner-grow{
	margin-top: 1vw;
	margin-bottom: 4.7vw;
	width: 3vw;
	height: 3vw;
	display: none;
}

footer {
	position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 1.5%;
  font-size: 1.1vw;
  border-top: 1px solid #575757;
}

footer ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer li {
  float: right;
  margin-right: 5%;
}
footer li:hover {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  footer {
		position:relative;
		margin-top: 5vw;
	}
}