astroid==2.8.3
cffi==1.14.6
click==8.0.1
cryptography==3.4.8
Flask==2.0.1
Flask-Cors==3.0.10
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.4.0
pycparser==2.20
pycryptodome==3.10.4
PyJWT==2.1.0
python-dotenv==0.19.1
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
Werkzeug==2.0.1
wrapt==1.13.2
