.alert {
  position: fixed;
  top: 1vw;
  right: 1vw;
  font-size: 1vw;
  width: 40%;
}

.alert .close {
  padding: 0.5vw 1vw;
  font-size: 2vw;
}

@media screen and (max-width: 600px) {
  .alert .close {
    font-size: 3vw;
  }
}

@media screen and (max-width: 350px) {
  .alert .close {
    font-size: 4vw;
  }
}
