.tooltip2 {
  position: relative;
  display: inline;
}

.tooltip2 .tooltiptext {
  visibility: hidden;
  font-size: small;
  background-color: #f5e7af;
  color: #535353;
  text-align: left;
  border-radius: 6px;
  padding: 0.5vw 0.5vw;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: -127px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip2 .tooltiptext::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f5e7af transparent;
}

.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
