#csv-import {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#csv-import button {
  margin-top: 3vh;
}

#csv-import a {
  text-decoration: none;
}

#csv-import .tooltip2:hover {
  cursor: pointer;
  margin-left: 50px;
}
