.modal button {
  margin-top: 0% !important;
}

.close {
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

#file-upload-modal .modal-footer {
  border-top: none;
  padding: 0%;
  margin: 0%;
}
